#main_box{
	position:absolute;
	width:800px;
}
.books_box{
	position:relative;
	background-color:white;
	box-shadow:0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	border:8px solid white;
	margin-top:8px;
	height:145px;
	width:800px;
}
.cover{
	position:absolute;
}
.books_text{
	position:absolute;
	font-family:'RobotoRegular';
	font-size:18px;
}
.bookit{
	position:absolute;
	margin-left:700px;
	margin-top:0px;
	width:100px;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:4px solid #ff000d;
	background-color:#ff4751;
	color:white;
	text-align:center;
	cursor:pointer;
	font-family:'RobotoRegular';
}
.number{
	position:absolute;
	margin-left:700px;
	margin-top:46px;
}
#new_doc_box{
	position:relative;
	width:800px;
	background-color:white;
	box-shadow:0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	border:8px solid white;
}
.new_doc{
	position:relative;
	font-family:'RobotoRegular';
	font-size:20px;
	cursor:pointer;
	text-align:center;
}
.new_doc:hover{
	text-decoration:underline;
}
#new_book{
	width:399px;
	border-right:1px solid rgb(214, 214, 214); 
}
#new_av{
	width:400px;
	margin-left:400px;
	margin-top:-24px;
}
.add_block{
	position:relative;
	height:0px;
	width:266px;
	margin-left:267px;
	overflow:hidden;
}
.add_inputs{
	position:relative;
	width:250px;
	padding:0px 8px 0px 8px;
	font-family:'RobotoRegular';
	font-size:18px;
	text-align:center;
	border:0px;
	border-bottom:2px solid black;
	outline:none;
	margin-top:8px;
}
.add_save{
	position:relative;
	width:250px;
	padding:8px;
	font-family:'RobotoRegular';
	font-size:18px;
	text-align:center;
	color:white;
	background-color:black;
	margin-top:8px;
	cursor:pointer;
}
[class^='books_inputs']{
	position:absolute;
	border:none;
	outline:none;
	width:530px;
	font-family:'RobotoRegular';
	font-size:18px;
}
.books_text{
	margin-top:-3px;
	margin-left:101px;
}
.modifyit{
	position:absolute;
	margin-left:700px;
	margin-top:47px;
	width:100px;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:4px solid #ff000d;
	background-color:#ff4751;
	color:white;
	text-align:center;
	cursor:pointer;
	font-family:'RobotoRegular';
}
.queue{
	position:absolute;
	margin-left:700px;
	margin-top:94px;
	width:100px;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:4px solid #ff000d;
	background-color:#ff4751;
	color:white;
	text-align:center;
	cursor:pointer;
	font-family:'RobotoRegular';
}
.queue_box{
	position:absolute;
	width:800px;
	margin-left:0px;
	margin-top:145px;
	overflow:auto;
	display:none;
}
.settings_list_orders{
	position:relative;
	margin-top:8px;
	margin-left:8px;
	padding-bottom:8px;
	width:683px;
	height:82px;
	border-bottom:1px solid black;
}
.settings_orders_list_specs_box{
	position:absolute;
	font-family:'RobotoRegular';
	font-size:18px;
	margin-left:90px;
}
.settings_orders_list_avatar{
	position:absolute;
}
.otdat{
	position:absolute;
	padding:8px;
	padding-bottom:4px;
	border-bottom:4px solid #ff000d;
	background-color:#ff4751;
	color:white;
	font-size:18px;
	font-family:'RobotoRegular';
	margin-left:606px;
	margin-top:24px;
	cursor:pointer;
}
.deleteit{
	position:absolute;
	margin-left:591px;
	margin-top:0px;
	width:100px;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:4px solid #ff000d;
	background-color:#ff4751;
	color:white;
	text-align:center;
	cursor:pointer;
	font-family:'RobotoRegular';
}
#booking_search{
	position:relative;
	width:624px;
	background-color:white;
	box-shadow:0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	border:8px solid white;
	margin-top:8px;
	padding-right:176px;
}
#booking_search_name{
	position:relative;
	width:100%;
	border:none;
	outline:none;
	font-family:'RobotoRegular';
	font-size:18px;
	text-align:center;
}
#booking_search_select{
	position:absolute;
	font-family:'RobotoRegular';
	font-size:18px;
	text-align:center;
	color:white;
	background-color:#ff4751;
	padding-left:8px;
	padding-right:8px;
	border:none;
	outline:none;
	margin-left:4px;
}
#booking_available{
	position:absolute;
	border:2px solid #ff4751;
	width:20px;
	height:20px;
	margin-top:-24px;
	margin-left:776px;
	z-index:1000;
	cursor:pointer;
}
#booking_available_id{
	position:absolute;
	background-color:#ff4751;
	width:10px;
	height:10px;
	margin-left:783px;
	margin-top:-17px;
	border-radius:10px;
}
#booking_available_text{
	position:absolute;
	font-family:'RobotoRegular';
	font-size:18px;
	padding-left:8px;
	padding-right:8px;
	background-color:white;
	color:#ff4751;
	margin-left:8px;
	margin-top:-3px;
	width:111px;
	height:24px;
	box-shadow:0px 2px 10px rgba(0,0,0,0.5);
	display:none;
	opacity:0;
}