<html>
	<head>
		<link rel="stylesheet" type="text/css" href="huinya.css"/>
	</head>
	<body style="background-color:rgb(240, 240, 240);">
		<div id="main_box">
			<div class="books_box">
				<img src="1.jpg" class="cover" width="66px" height="100px" />
				<p class="bookname">Три поросёнка</p>
				<p class="type">Порно, сказки, животные, зоофилия, хоррор</p>
				<p class="description">Трое чёрных поросят зря сказали серому волку, что мамы нет дома...</p>
				<div class="bookit">Book</div>
				<p class="number">В наличии 3</p>
			</div>
			<div class="books_box">
				<img src="1.jpg" class="cover" width="66px" height="100px" />
				<p class="bookname">Три поросёнка</p>
				<p class="type">Порно, сказки, животные, зоофилия, хоррор</p>
				<p class="description">Трое чёрных поросят зря сказали серому волку, что мамы нет дома...</p>
				<div class="bookit">Book</div>
				<p class="number">В наличии 3</p>
			</div>
			<div class="books_box">
				<img src="1.jpg" class="cover" width="66px" height="100px" />
				<p class="bookname">Три поросёнка</p>
				<p class="type">Порно, сказки, животные, зоофилия, хоррор</p>
				<p class="description">Трое чёрных поросят зря сказали серому волку, что мамы нет дома...</p>
				<div class="bookit">Book</div>
				<p class="number">В наличии 3</p>
			</div>
		</div>
	</body>
</html>